*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Archivo"
}
::selection{
    background-color:#986dff;
    color:#fff
}
ul,ol{
    list-style:none;
    margin:0;
    padding:0
}
a{
    text-decoration:none
}
img{
    max-width:100%;
    height:auto;
    display:block
}
p,h1,h2,h3,h4,h5,h6{
    margin:0
}
button,input{
    border:0;
    font-family:"Archivo"
}
button:focus,input:focus{
    border:0
}
body{
    font-family:"Archivo";
    background-color:#fff;
    overflow-x:hidden
}
html{
    scroll-behavior:smooth;
    font-size:62.5%
}
::-webkit-scrollbar{
    width:8px
}
::-webkit-scrollbar-track{
    background-color:#111
}
::-webkit-scrollbar-thumb{
    background-color:#986dff;
    border-radius:8px
}

.mobile-menu{
    display:none
}
.mobile-menu div{
    width:32px;
    height:1px;
    background-color:#fff;
    margin:8px;
    transition:.4s
}
.nav-list.active{
    visibility:initial;
    transition:1s all ease
}
@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(100px)
    }
    to{
        opacity:1;
        transform:translateX(0)
    }
}
.mobile-menu.active .line1{
    transform:rotate(-45deg) translate(-8px, 8px)
}
.mobile-menu.active .line2{
    opacity:0
}
.mobile-menu.active .line3{
    transform:rotate(45deg) translate(-5px, -5px)
}

#s-about{
    padding:72px 0px;
    background-image: url('../image/fundo.gif'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#111
}
@media screen and (max-width: 1200px){
    #s-about{
        padding:72px 20px
    }
}
#s-about .grid-layout>div{
    background-color:rgba(21, 21, 21, 0.9);
    border:2px solid #1f1f1f;
    padding:24px;
    border-radius:4px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:auto
}
@media screen and (max-width: 1200px){
    #s-about .grid-layout>div{
        flex-wrap:wrap;
        gap:32px
    }
}
#s-about .grid-layout>div #creator-photo{
    width:47%;
    background-image:url("../image/maisapixel.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:4px;
    height:500px
}
@media screen and (max-width: 1200px){
    #s-about .grid-layout>div #creator-photo{
        width:100%;
        height:400px
    }
}
@media screen and (max-width: 992px){
    #s-about .grid-layout>div #creator-photo{
        height:350px
    }
}
@media screen and (max-width: 768px){
    #s-about .grid-layout>div #creator-photo{
        height:300px
    }
}
#s-about .grid-layout>div #creator-photo h3{
    color:#111;
    background-color:#fff;
    padding:8px;
    border-radius:16px;
    width:180px;
    text-align:center;
    font-size:1.4rem;
    font-weight:500;
    margin:16px
}
#s-about .grid-layout>div div:nth-child(2){
    width:49%
}
@media screen and (max-width: 1200px){
    #s-about .grid-layout>div div:nth-child(2){
        width:100%
    }
}
#s-about .grid-layout>div div:nth-child(2) h2{
    font-size:4rem;
    font-weight:500;
    margin:16px 0px;
    color:#fff
}
@media screen and (max-width: 992px){
    #s-about .grid-layout>div div:nth-child(2) h2{
        font-size:3.2rem
    }
}
#s-about .grid-layout>div div:nth-child(2) h3{
    font-size:1.8rem;
    font-weight:300;
    margin-bottom:16px;
    color:#fff
}
#s-about .grid-layout>div div:nth-child(2) h4{
    font-size:2rem;
    font-weight:500;
    color:#986dff
}
#s-about .grid-layout>div div:nth-child(2) p{
    font-size:1.8rem;
    color:#9ca3af;
    line-height:160%;
    margin:32px 0px 48px 0px
}
#s-about .grid-layout>div div:nth-child(2) nav ul{
    display:flex;
    align-items:center;
    gap:16px
}
@media screen and (max-width: 1200px){
    #s-about .grid-layout>div div:nth-child(2) nav ul{
        flex-wrap:wrap
    }
}
#s-about .grid-layout>div div:nth-child(2) nav ul a{
    background-color:#111;
    border:2px solid #1f1f1f;
    border-radius:6px;
    padding:16px
}
@media screen and (max-width: 1200px){
    #s-about .grid-layout>div div:nth-child(2) nav ul a img{
        width:40px
    }
}
#s-about .grid-layout>div div:nth-child(2) nav ul a:hover{
    border-color:#986dff
}

footer{
    width:100%;
    height:auto;
    background-color:#151515;
    color:#fff;
    padding:24px 0px
}
footer .grid-layout{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%
}
footer p{
    font-size:1.8rem
}
footer p a{
    font-weight:500;
    color:#986dff
}
footer img{
    width:32px
}
footer div{
    display:flex;
    align-items:center;
    gap:16px
}
@media screen and (max-width: 1200px){
    footer .grid-layout{
        text-align:center;
        justify-content:center;
        flex-wrap:wrap;
        gap:48px
    }
    footer .grid-layout div{
        display:none
    }
}
.typewriter:after{
    content:"|";
    margin-left:8px;
    opacity:1;
    animation:blink 1s infinite;
    color:#986dff
}
@keyframes blink{
    100%{
        opacity:1
    }
    50%{
        opacity:0
    }
}
.grid-layout{
    max-width:1140px;
    margin:0 auto
}
/*# sourceMappingURL=style.css.map */